# Análise Exploratória de Dados com Pandas

Vamos utilizar Oandas para responder algumas questões relacionadas ao dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).

In [113]:
import pandas as pd

In [112]:
data = pd.read_csv('./adult.data.csv')
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### 1. Quantos homens e mulheres (atributo *sex*) são representados nesse dataset?

In [96]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

### 2. Qual a idade média (atributo *age*) das mulheres?

In [97]:
s = data['sex'] == " Female"
ds = data[s]
ds['age'].mean()

36.85823043357163

### 3.  Qual é a porcentagem de cidadãos alemães (atributo *native-country*)?

In [98]:
s = data['native-country'] == " Germany"
(data[s]['age'].count()/data['age'].count())*100

0.42074874850281013

### 4. Qua é a média e o desvio padrão de idade daqueles que ganham mais que 50K por ano (atributo *salary*) e daqueles que ganham menos que 50K por ano?

In [99]:
s = data['salary'] == " >50K"
s2 = data['salary'] == " <=50K"
df = data[s]['age'].describe()
df2 = data[s2]['age'].describe()
df['mean'], df2['mean'], df['std'], df2['std']

(44.249840581558473,
 36.783737864077672,
 10.519027719851771,
 14.020088490824813)

### 5. É verdade que pessoas que ganham mais que 50K possuem, pelo menos, educação superior (atributo *education*:  Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters ou Doctorate)?

In [100]:
s = data['salary'] == " >50K"
s1 = data[s]['education'].isin([' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters', ' Doctorate'])
if False in s1.tolist():
    print(False)
else:
    print(True)

False

### 6. Mostre estatísticas sobre a idade de cada raça (atributo *race*) e cada gênero (atributo *sex*). Use as funções *groupby()* e *describe()*. Encontre a idade máxima dos homens da raça *Amer-Indian-Eskimo*.

In [101]:
df = data.groupby(['race', 'sex'])['age'].describe()
df, df.loc[(' Amer-Indian-Eskimo', ' Male'), 'max']

(                               count       mean        std   min   25%   50%  \
 race                sex
  Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                      Male      192.0  37.208333  12.049563  17.0  28.0  35.0
  Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                      Male      693.0  39.073593  12.883944  18.0  29.0  37.0
  Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                      Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
  Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                      Male      162.0  34.654321  11.355531  17.0  26.0  32.0
  White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                      Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                75%   max
 race                sex
  Amer-Indian-Eskimo  Female  46.00  80.0
                      Male    45.00  82.0
  Asian-Pac-Islander  Female  43.75  75.0
                      Male    46.00  90.0
  Black               Female  46.00  90.0
                      Male    46.00  90.0
  Other               Female  39.00  74.0
                      Male    42.00  77.0
  White               Female  46.00  90.0
                      Male    49.00  90.0  , 82.0)

### 7. Encontre a proporção, considerando casados e solteiros (atributo *marital-status*), daqueles que ganham muito (>50K).

In [102]:
s = data['salary'] == " >50K"
s1 = data[s]['marital-status'] == ' Married-civ-spouse'
s2 = data[s]['marital-status'] == ' Never-married'
data[s][s1]['race'].count()/data[s][s2]['race'].count()

13.629327902240325

### 8. Qual é o número máximo de horas que uma pessoa trabalha por semana (atributo *hours-per-week*)? Quantas pessoas trabalham esse número de horas e qual a porcentagem daqueles que ganham muito (>50K) entre eles?

In [103]:
max = data['hours-per-week'].max()
c = data['salary'] == " >50K"
s = data['hours-per-week'] == max
max,data[s]['age'].count(),(data[s][c]['age'].count()/data[s]['age'].count())*100

/home/parazzitta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

(99, 85, 29.411764705882355)

### 9. Determine o tempo médio de trabalho (*hours-per-week*) daqueles que ganham pouco (<=50K) e muito (atributo *salary*) para cada país (atributo*native-country*). Quantos dos indivíduos são do Japão?

In [104]:
s = data['salary'] == " <=50K"
s2 = data['salary'] == " >50K"
df = data[s].groupby('native-country')['hours-per-week'].describe()
df2 = data[s2].groupby('native-country')['hours-per-week'].describe()
c = df.loc[' Japan', 'count']
c2 = df2.loc[' Japan', 'count']
df['mean'], df2['mean'], c+c2

(native-country
  ?                             40.164760
  Cambodia                      41.416667
  Canada                        37.914634
  China                         37.381818
  Columbia                      38.684211
  Cuba                          37.985714
  Dominican-Republic            42.338235
  Ecuador                       38.041667
  El-Salvador                   36.030928
  England                       40.483333
  France                        41.058824
  Germany                       39.139785
  Greece                        41.809524
  Guatemala                     39.360656
  Haiti                         36.325000
  Holand-Netherlands            40.000000
  Honduras                      34.333333
  Hong                          39.142857
  Hungary                       31.300000
  India                         38.233333
  Iran                          41.440000
  Ireland                       40.947368
  Italy                         39.625000
  Jamaica                       38.239437
  Japan                         41.000000
  Laos                          40.375000
  Mexico                        40.003279
  Nicaragua                     36.093750
  Outlying-US(Guam-USVI-etc)    41.857143
  Peru                          35.068966
  Philippines                   38.065693
  Poland                        38.166667
  Portugal                      41.939394
  Puerto-Rico                   38.470588
  Scotland                      39.444444
  South                         40.156250
  Taiwan                        33.774194
  Thailand                      42.866667
  Trinadad&Tobago               37.058824
  United-States                 38.799127
  Vietnam                       37.193548
  Yugoslavia                    41.600000
 Name: mean, dtype: float64, native-country
  ?                     45.547945
  Cambodia              40.000000
  Canada                45.641026
  China                 38.900000
  Columbia              50.000000
  Cuba                  42.440000
  Dominican-Republic    47.000000
  Ecuador               48.750000
  El-Salvador           45.000000
  England               44.533333
  France                50.750000
  Germany               44.977273
  Greece                50.625000
  Guatemala             36.666667
  Haiti                 42.750000
  Honduras              60.000000
  Hong                  45.000000
  Hungary               50.000000
  India                 46.475000
  Iran                  47.500000
  Ireland               48.000000
  Italy                 45.400000
  Jamaica               41.100000
  Japan                 47.958333
  Laos                  40.000000
  Mexico                46.575758
  Nicaragua             37.500000
  Peru                  40.000000
  Philippines           43.032787
  Poland                39.000000
  Portugal              41.500000
  Puerto-Rico           39.416667
  Scotland              46.666667
  South                 51.437500
  Taiwan                46.800000
  Thailand              58.333333
  Trinadad&Tobago       40.000000
  United-States         45.505369
  Vietnam               39.200000
  Yugoslavia            49.500000
 Name: mean, dtype: float64, 62.0)

### 10. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis tipo de trabalho (atributo *workclass*) e educação (atributo *education*).

In [105]:
pd.pivot_table(data, values='hours-per-week', index='workclass', columns='education', aggfunc='mean')

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
workclass,,,,,,,,,,,,,,,,
?,33.150000,31.711864,34.525000,34.916667,37.233333,32.527778,32.392157,26.234043,33.885246,32.416185,29.533333,31.896617,31.541667,34.000000,28.388889,31.363813
Federal-gov,42.166667,27.444444,35.000000,NaN,40.000000,35.000000,40.000000,41.036364,41.315789,42.617925,50.187500,40.228137,42.656716,NaN,49.896552,40.429134
Local-gov,38.225806,30.555556,36.631579,33.000000,34.555556,36.535714,37.086957,40.409091,41.651163,42.140461,43.592593,39.894632,43.827485,32.500000,45.379310,40.204134
Never-worked,35.000000,10.000000,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,22.000000
Private,36.827338,33.930661,35.141141,38.955882,39.488722,39.910377,38.258398,40.871056,41.225871,42.698676,48.668508,40.507198,44.458613,37.682927,48.101167,38.731645
Self-emp-inc,38.368421,39.285714,42.571429,40.000000,42.500000,45.714286,46.900000,47.914286,49.947368,49.402930,54.685714,47.007168,52.911392,NaN,50.839506,49.362832
Self-emp-not-inc,43.507463,40.483333,44.789474,36.769231,36.105263,42.882979,41.676471,44.211268,46.916667,44.177945,41.740000,45.435335,43.161290,NaN,45.870229,44.117284
State-gov,39.076923,33.357143,39.000000,20.000000,31.250000,31.800000,39.666667,36.853659,41.086957,39.692593,46.820225,39.425373,40.775148,24.000000,50.129032,34.698462
Without-pay,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,50.000000,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,35.333333

### 11. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis ocupação (atributo *occupation*) e gênero (atributo *sex*).

In [106]:
pd.pivot_table(data, values='hours-per-week', index='occupation', columns='sex', aggfunc='mean')

sex                    Female       Male
occupation
 ?                  29.976219  33.525948
 Adm-clerical       36.741033  39.240065
 Armed-Forces             NaN  40.666667
 Craft-repair       39.869369  42.443642
 Exec-managerial    41.517688  46.371173
 Farming-fishing    37.784615  47.634015
 Handlers-cleaners  36.103659  38.198176
 Machine-op-inspct  38.929091  41.447658
 Other-service      33.437778  36.223411
 Priv-house-serv    32.489362  39.875000
 Prof-specialty     39.423762  44.096762
 Protective-serv    38.526316  43.446771
 Sales              34.274743  44.223712
 Tech-support       37.295977  40.713793
 Transport-moving   36.711111  45.130723

### 12. Exiba o desvio padrão de horas trabalhadas por país (atributo *native-country*) e gênero (atributo *sex*). Faça o mesmo para (atributo *native-country*) e raça (atributo *race*).

In [107]:
df = data[s].groupby(['native-country','sex'])['hours-per-week'].std()
df2 = data[s].groupby(['native-country','race'])['hours-per-week'].std()
df,df2

(native-country               sex
  ?                            Female    15.769945
                               Male      10.859715
  Cambodia                     Female     0.000000
                               Male       3.480102
  Canada                       Female    13.640036
                               Male      12.749516
  China                        Female    13.243867
                               Male      10.793485
  Columbia                     Female     7.489002
                               Male       9.403014
  Cuba                         Female    11.139978
                               Male       7.971303
  Dominican-Republic           Female     7.188348
                               Male      13.521971
  Ecuador                      Female     5.659309
                               Male       9.833374
  El-Salvador                  Female     8.531790
                               Male       9.829890
  England                      Female    16.877158
                               Male      13.881598
  France                       Female    11.224972
                               Male      12.105931
  Germany                      Female    13.475533
                               Male       7.758535
  Greece                       Female     8.000000
                               Male      18.242243
  Guatemala                    Female     7.493155
                               Male       6.167578
  Haiti                        Female    10.565031
                               Male      13.022691
                                           ...
  Nicaragua                    Female     9.413723
                               Male       8.084376
  Outlying-US(Guam-USVI-etc)   Female    13.214350
                               Male       7.867958
  Peru                         Female     6.612093
                               Male      13.990813
  Philippines                  Female     9.157546
                               Male      12.765160
  Poland                       Female    13.032482
                               Male      11.099840
  Portugal                     Female     5.011099
                               Male       9.952655
  Puerto-Rico                  Female    10.258476
                               Male       8.789541
  Scotland                     Female     2.500000
                               Male      12.747549
  South                        Female    16.364439
                               Male      16.696055
  Taiwan                       Female    16.733744
                               Male      12.982883
  Thailand                     Female    19.693485
                               Male      24.141251
  Trinadad&Tobago              Female    11.196590
                               Male      13.490738
  United-States                Female    11.744576
                               Male      12.430424
  Vietnam                      Female    11.659027
                               Male      12.908728
  Yugoslavia                   Female    14.142136
                               Male       9.365591
 Name: hours-per-week, Length: 83, dtype: float64,
 native-country       race
  ?                    Asian-Pac-Islander    12.239558
                       Black                  7.684397
                       Other                  8.338094
                       White                 14.228645
  Cambodia             Asian-Pac-Islander     3.205110
                       Black                       NaN
  Canada               Other                       NaN
                       White                 13.076213
  China                Asian-Pac-Islander    11.541557
                       White                       NaN
  Columbia             Amer-Indian-Eskimo          NaN
                       Other                 14.099983
                       White                  7.385003
  Cuba                 Black                  0.000000
                       Other                  7.071068
                       White                  9.955530
  Dominican-Republic   Asian-Pac-Islander          NaN
                       Black                 12.172249
                       Other                 15.293213
                       White                  8.728764
  Ecuador              Other                  5.829420
                       White                 11.986103
  El-Salvador          Black                       NaN
                       Other                  9.574271
                       White                  9.376062
  England              Asian-Pac-Islander          NaN
                       Black                 13.629625
                       White                 15.558868
  France               Black                       NaN
                       White                 12.805598
                                               ...
  Philippines          Asian-Pac-Islander    11.084618
                       Black                       NaN
                       White                 21.213203
  Poland               Asian-Pac-Islander          NaN
                       White                 12.366886
  Portugal             Asian-Pac-Islander          NaN
                       White                  9.200281
  Puerto-Rico          Amer-Indian-Eskimo          NaN
                       Asian-Pac-Islander          NaN
                       Black                  4.580627
                       Other                 11.548778
                       White                  9.215416
  Scotland             White                  9.166667
  South                Amer-Indian-Eskimo          NaN
                       Asian-Pac-Islander    16.794438
                       White                       NaN
  Taiwan               Asian-Pac-Islander    14.270505
  Thailand             Asian-Pac-Islander    18.966280
                       White                       NaN
  Trinadad&Tobago      Asian-Pac-Islander     8.485281
                       Black                 11.567290
                       Other                       NaN
  United-States        Amer-Indian-Eskimo    11.903970
                       Asian-Pac-Islander    12.405736
                       Black                 10.012002
                       Other                  9.580887
                       White                 12.690495
  Vietnam              Asian-Pac-Islander    12.620537
                       White                  0.000000
  Yugoslavia           White                 11.305849
 Name: hours-per-week, Length: 109, dtype: float64)

### 13. Inclua a coluna *retired*, para indicar aposentadoria para quem tem mais de 60 anos e é mulher ou mais de 65 anos e é homem (atirbutos *age* e *sex*).

In [117]:
female_retired = (data['sex'] == ' Female') & (data['age'] >= 60)
male_retired = (data['sex'] == ' Male') & (data['age'] >= 65)
criteria =  female_retired | male_retired
data[criteria]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
144,70,Private,105376,Some-college,10,Never-married,Tech-support,Other-relative,White,Male,0,0,40,United-States,<=50K
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K
160,68,?,38317,1st-4th,2,Divorced,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
169,66,Local-gov,54826,Assoc-voc,11,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,20,United-States,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
226,60,?,24215,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,United-States,<=50K
227,66,Self-emp-not-inc,167687,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,1409,0,50,United-States,<=50K
228,75,Private,314209,Assoc-voc,11,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,20,Columbia,<=50K
229,65,Private,176796,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
283,60,Private,173960,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,42,United-States,<=50K
295,65,Private,111095,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,16,United-States,<=50K
316,77,Self-emp-not-inc,138714,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
319,62,Private,159841,HS-grad,9,Widowed,Other-service,Not-in-family,White,Female,0,0,24,United-States,<=50K
324,76,Self-emp-not-inc,174309,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
329,66,Private,127921,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,2050,0,55,United-States,<=50K
346,67,?,36135,11th,7,Married-civ-spouse,?,Husband,White,Male,0,0,8,United-States,<=50K
356,65,Private,161400,11th,7,Widowed,Other-service,Unmarried,Other,Male,0,0,40,United-States,<=50K
430,80,?,107762,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,24,United-States,<=50K
474,67,Private,49401,Assoc-voc,11,Divorced,Other-service,Not-in-family,White,Female,0,0,24,United-States,<=50K
499,72,?,303588,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,20,United-States,<=50K
527,74,Private,99183,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,9,United-States,<=50K
534,67,Private,231559,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,48,United-States,>50K
552,72,Private,205343,11th,7,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
555,69,Private,136218,11th,7,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
580,65,?,195733,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,30,United-States,>50K
602,60,Private,51290,7th-8th,4,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
622,65,Private,109351,9th,5,Widowed,Priv-house-serv,Unmarried,Black,Female,0,0,24,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32102,61,Local-gov,153408,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,>50K
32134,63,Private,45912,HS-grad,9,Widowed,Other-service,Other-relative,White,Female,0,0,40,United-States,<=50K
32153,65,Private,174603,5th-6th,3,Widowed,Machine-op-inspct,Not-in-family,White,Female,0,0,10,Italy,<=50K
32192,64,State-gov,104361,Some-college,10,Separated,Adm-clerical,Not-in-family,White,Female,0,0,65,United-States,<=50K
32193,68,Private,274096,10th,6,Divorced,Transport-moving,Not-in-family,White,Male,0,0,20,United-States,<=50K
32198,67,Self-emp-inc,182581,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,20,United-States,>50K
32206,72,?,96867,5th-6th,3,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
32259,63,Private,37792,10th,6,Widowed,Other-service,Not-in-family,White,Female,0,0,31,United-States,<=50K
32262,62,Without-pay,159908,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,16,United-States,<=50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
32301,65,Local-gov,103153,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1411,40,United-States,<=50K
32317,63,?,126540,Some-college,10,Divorced,?,Not-in-family,White,Female,0,0,5,United-States,<=50K
32340,75,Self-emp-not-inc,192813,Masters,14,Widowed,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K
32343,66,?,93318,HS-grad,9,Widowed,?,Unmarried,White,Female,0,0,40,United-States,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
32423,61,Private,98776,11th,7,Widowed,Handlers-cleaners,Not-in-family,White,Female,0,0,30,United-States,<=50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32445,61,Private,190682,HS-grad,9,Widowed,Craft-repair,Not-in-family,Black,Female,0,1669,50,United-States,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K
32460,62,Private,128092,HS-grad,9,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,32,United-States,<=50K
32465,66,Private,269665,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,25,United-States,<=50K
32479,64,State-gov,222966,7th-8th,4,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,40,United-States,<=50K
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32501,71,Private,138145,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K

### 14. Calcule o valor do *z-score* do tempo de trabalho por semana (atributo *hours-per-week*) de cada indivíduo, considerando como média (*mean*) e desvio padrão (*std*) os valores obtido por grupos dados pelo país de origem (atributo *native-country*) e o sexo (atributo *sex*). Dica: o *z-score* de um valor x é dado por:  *(x-mean)/std*.

### 15. Calcule a porporção de indivíduos que ganham bem por país (atributo *native-country*), sexo (atributo *sex*) e raça (atributo *race*).